services:
  website:
    build:
      dockerfile: ./Dockerfile
      context: .
    env_file:
      - .env
    ports:
      - "8080:8080"
    volumes:
      - ./:/src
      - /src/node_modules
    working_dir: /src

  frontend:
    build:
      dockerfile: ./Dockerfile.frontend
      context: .
    ports:
      - "9000:9000"
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - BACKEND_HOST=website:8080
      - DEV_SERVER_HOST=0.0.0.0
    depends_on:
      - website
